<section class="home-section" id="home">
    <div class="container home-container">
        <div class="hero-wrapper">
        <h1 class="home-title">BORDER
        BOUND</h1>
        <h2 class="home-subtitle">Easy to Learn. Hard to Master.
</h2>
<p class="home-text">So we had this ridiculously simple idea for Border Bound that somehow turns your brain inside out (in a good way, I
promise).<br/>
Fill every box on the grid with the color of its border.<br />
Special boxes introduce new ways to manipulate color across the board — spreading, redirecting, and transforming tiles
in ways that require careful planning and precise thinking.<br />
There are no timers.<br />
No distractions.<br />
Just pure logic and elegant design.</p>
<a class="home-link" href="https://play.google.com/store/games?hl=en">
    <img src="/img/home/btn.png" alt="Google Play" loading="lazy">
</a>
<p class="home-last-text">Plan carefully. Think deeply. Master the grid.</p>
</div>
<div class="hero-img-wrapper">
    <img src="/img/home/red.png" alt="red" loading="lazy">
    <img src="/img/home/blue.png" alt="blue" loading="lazy">
</div>
    </div>
</section>