body{
  background: #e6e6e6;
  font-family: "Agdasima", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
}
.blue{
  font-size: 21px;
    color: #023f7e;
}
h2{
  font-family: "Bruno Ace", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.2;
    color: #fff;
}
h3{
  font-family: "Agdasima", sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.3;
    color: #000;
}
.title-container{
  padding: 0 16px;
}
@media only screen and (min-width: 1440px) {
  body{
    font-size: 21px;
  }
  .blue{
    font-size: 25px;
  }
  h2{
    font-size: 44px;
  }
  h3{
    font-size: 32px;
  }
  .title-container{
    padding: 0 160px;
  }
}